xdma-hbm-4ch/
xdma-mm-ddr-hbm-flash/
xdma-mm-ddr-hbm/
xdma-hbm-right/
xdma-mm-ddr/

xdma-mm/proj*/*
xdma-mm/.Xil
xdma-mm/*.jou
xdma-mm/*.log
xdma-mm/*.str

xdma-st/proj*/*
xdma-st/.Xil
xdma-st/*.jou
xdma-st/*.log
xdma-st/*.str

qdma/proj*/*
qdma/.Xil
qdma/*.jou
qdma/*.log
qdma/*.str

xdma-hbm/proj*/*
xdma-hbm/.Xil
xdma-hbm/*.jou
xdma-hbm/*.log
xdma-hbm/*.str

xdma-3ddr/proj*/*
xdma-3ddr/.Xil
xdma-3ddr/*.jou
xdma-3ddr/*.log
xdma-3ddr/*.str

hw_test/proj/*
hw_test/bit/*
hw_test/.Xil
hw_test/*.jou
hw_test/*.log
hw_test/*.str

xdma-hbm-multch/250M-256b/proj/*
xdma-hbm-multch/250M-256b/bit/*
xdma-hbm-multch/250M-256b/py/data/f3*
xdma-hbm-multch/250M-256b/py/data/init*
xdma-hbm-multch/250M-256b/py/test/f3*
xdma-hbm-multch/250M-256b/py/test/result*
xdma-hbm-multch/250M-256b/.Xil
xdma-hbm-multch/250M-256b/*.jou
xdma-hbm-multch/250M-256b/*.log
xdma-hbm-multch/250M-256b/*.str

xdma-hbm-multch/450M-512b/proj/*
xdma-hbm-multch/450M-512b/bit/*
xdma-hbm-multch/450M-512b/py/data/f3*
xdma-hbm-multch/450M-512b/py/data/init*
xdma-hbm-multch/450M-512b/py/test/f3*
xdma-hbm-multch/450M-512b/py/test/result*
xdma-hbm-multch/450M-512b/.Xil
xdma-hbm-multch/450M-512b/*.jou
xdma-hbm-multch/450M-512b/*.log
xdma-hbm-multch/450M-512b/*.str

xdma-driver/xdma/*.cmd
xdma-driver/xdma/*.o
xdma-driver/xdma/*.order
xdma-driver/xdma/*.mod
xdma-driver/xdma/*.mod.c
xdma-driver/xdma/*.symvers
xdma-driver/xdma/*.ko
xdma-driver/tools/*.o
xdma-driver/tools/dma_from_device
xdma-driver/tools/dma_to_device
xdma-driver/tools/performance
xdma-driver/tools/reg_rw
xdma-driver/tools/test_chrdev
xdma-driver/tests/data/output_datafile0_4K.bin
xdma-driver/tests/data/output_datafile1_4K.bin
xdma-driver/tests/data/output_datafile2_4K.bin
xdma-driver/tests/data/output_datafile3_4K.bin
xdma-driver/tools/datafile0_4K.bin
xdma-driver/tools/datafile0_4K.txt
xdma-driver/tools/output_datafile0_4K.bin
xdma-driver/tools/output_datafile0_4K.txt

qdma-driver/apps/dma-ctl/*.o
qdma-driver/apps/dma-ctl/dma-ctl
qdma-driver/apps/dma-from-device/dma-from-device
qdma-driver/apps/dma-from-device/dma_from_device.o
qdma-driver/apps/dma-latency/dma-latency
qdma-driver/apps/dma-latency/dmalat.o
qdma-driver/apps/dma-perf/dma-perf
qdma-driver/apps/dma-perf/dmaperf.o
qdma-driver/apps/dma-to-device/dma-to-device
qdma-driver/apps/dma-to-device/dma_to_device.o
qdma-driver/apps/dma-utils/*.o
qdma-driver/apps/dma-xfer/dma-xfer
qdma-driver/apps/dma-xfer/dmaxfer.o
qdma-driver/bin/
qdma-driver/driver/libqdma/*.cmd
qdma-driver/driver/libqdma/*.o
qdma-driver/driver/libqdma/qdma_access/*.cmd
qdma-driver/driver/libqdma/qdma_access/eqdma_cpm5_access/*.cmd
qdma-driver/driver/libqdma/qdma_access/eqdma_cpm5_access/*.o
qdma-driver/driver/libqdma/qdma_access/*.o
qdma-driver/driver/libqdma/qdma_access/qdma_cpm4_access/*.cmd
qdma-driver/driver/libqdma/qdma_access/qdma_cpm4_access/*.o
qdma-driver/driver/libqdma/qdma_access/*.o
qdma-driver/driver/libqdma/qdma_access/qdma_soft_access/*.cmd
qdma-driver/driver/libqdma/qdma_access/qdma_soft_access/*.o
qdma-driver/driver/libqdma/qdma_access/eqdma_soft_access/*.cmd
qdma-driver/driver/libqdma/qdma_access/eqdma_soft_access/*.o
qdma-driver/driver/src/*.cmd
qdma-driver/driver/src/Module.symvers
qdma-driver/driver/src/*.o
qdma-driver/driver/src/libqdma
qdma-driver/driver/src/modules.order
qdma-driver/driver/src/*.ko
qdma-driver/driver/src/*.mod
qdma-driver/driver/src/qdma-pf.mod.c
qdma-driver/driver/src/*.o
qdma-driver/driver/src/qdma-vf.mod.c