dma/xdma-mm/proj*/*
dma/xdma-mm/.Xil
dma/xdma-mm/*.jou
dma/xdma-mm/*.log
dma/xdma-mm/*.str

dma/xdma-st/proj*/*
dma/xdma-st/.Xil
dma/xdma-st/*.jou
dma/xdma-st/*.log
dma/xdma-st/*.str

dma/qdma/proj*/*
dma/qdma/.Xil
dma/qdma/*.jou
dma/qdma/*.log
dma/qdma/*.str

dma/xdma-driver/xdma/*.cmd
dma/xdma-driver/xdma/*.o
dma/xdma-driver/xdma/*.order
dma/xdma-driver/xdma/*.mod
dma/xdma-driver/xdma/*.mod.c
dma/xdma-driver/xdma/*.symvers
dma/xdma-driver/xdma/*.ko
dma/xdma-driver/tools/*.o
dma/xdma-driver/tools/dma_from_device
dma/xdma-driver/tools/dma_to_device
dma/xdma-driver/tools/performance
dma/xdma-driver/tools/reg_rw
dma/xdma-driver/tools/test_chrdev
dma/xdma-driver/tests/data/output_datafile0_4K.bin
dma/xdma-driver/tests/data/output_datafile1_4K.bin
dma/xdma-driver/tests/data/output_datafile2_4K.bin
dma/xdma-driver/tests/data/output_datafile3_4K.bin
dma/xdma-driver/tools/datafile0_4K.bin
dma/xdma-driver/tools/datafile0_4K.txt
dma/xdma-driver/tools/output_datafile0_4K.bin
dma/xdma-driver/tools/output_datafile0_4K.txt

dma/qdma-driver/apps/dma-ctl/*.o
dma/qdma-driver/apps/dma-ctl/dma-ctl
dma/qdma-driver/apps/dma-from-device/dma-from-device
dma/qdma-driver/apps/dma-from-device/dma_from_device.o
dma/qdma-driver/apps/dma-latency/dma-latency
dma/qdma-driver/apps/dma-latency/dmalat.o
dma/qdma-driver/apps/dma-perf/dma-perf
dma/qdma-driver/apps/dma-perf/dmaperf.o
dma/qdma-driver/apps/dma-to-device/dma-to-device
dma/qdma-driver/apps/dma-to-device/dma_to_device.o
dma/qdma-driver/apps/dma-utils/*.o
dma/qdma-driver/apps/dma-xfer/dma-xfer
dma/qdma-driver/apps/dma-xfer/dmaxfer.o
dma/qdma-driver/bin/
dma/qdma-driver/driver/libqdma/*.cmd
dma/qdma-driver/driver/libqdma/*.o
dma/qdma-driver/driver/libqdma/qdma_access/*.cmd
dma/qdma-driver/driver/libqdma/qdma_access/eqdma_cpm5_access/*.cmd
dma/qdma-driver/driver/libqdma/qdma_access/eqdma_cpm5_access/*.o
dma/qdma-driver/driver/libqdma/qdma_access/*.o
dma/qdma-driver/driver/libqdma/qdma_access/qdma_cpm4_access/*.cmd
dma/qdma-driver/driver/libqdma/qdma_access/qdma_cpm4_access/*.o
dma/qdma-driver/driver/libqdma/qdma_access/*.o
dma/qdma-driver/driver/libqdma/qdma_access/qdma_soft_access/*.cmd
dma/qdma-driver/driver/libqdma/qdma_access/qdma_soft_access/*.o
dma/qdma-driver/driver/libqdma/qdma_access/eqdma_soft_access/*.cmd
dma/qdma-driver/driver/libqdma/qdma_access/eqdma_soft_access/*.o
dma/qdma-driver/driver/src/*.cmd
dma/qdma-driver/driver/src/Module.symvers
dma/qdma-driver/driver/src/*.o
dma/qdma-driver/driver/src/libqdma
dma/qdma-driver/driver/src/modules.order
dma/qdma-driver/driver/src/*.ko
dma/qdma-driver/driver/src/*.mod
dma/qdma-driver/driver/src/qdma-pf.mod.c
dma/qdma-driver/driver/src/*.o
dma/qdma-driver/driver/src/qdma-vf.mod.c